html{
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,*::after,*::before{
    box-sizing: inherit;
}

/* Varibles*/
:root{
    --second-color: hsl(231deg 48% 48%);
    --principal-color:#11044d;
    --terc-color:rgb(184, 129, 247);
    --fort-color:rgb(49, 27, 73);
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: var(--principal-color);
}
img{
    width: 100%;
}

/* Nav Bar*/

.hero-navbar{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-navbar nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5rem;
    
}
.hero-navbar nav a{
    font-size: 1.8rem;
    color: var(--terc-color);
    text-decoration: none;
    transition: all .3s ease-in-out;
}
.hero-navbar nav a:hover{
    color: white;
    text-decoration: overline;
}

/*Container*/

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    background-color: #000;
    height: inherit;
    background-image: url(https://img1.picmix.com/output/stamp/thumb/2/1/0/1/1971012_698df.gif);
    background-size: 29%;
}
.hero-img-container img{
    width: 100%;
    height: 100%;
}
.overline{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.hero-info{
    height: inherit;
    text-align: start;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    padding-left: 5%;
    font-size: 80px;
}
.hero-title{
    font-size: 80px;
    text-align: center;
    margin: 0;
    padding: 2rem 0;
}

.hero-subtitle{
    padding-left: 60px;
    text-align: start;
    font-size: 80px;
}
.hero-social{
    display: flex;
    justify-content: space-evenly;
}
.hero-social i{
    font-size: 50px;
    color: #a9a9a9;
    transition: all .3s ease-in-out;
}
.hero-social i:hover{
    color: white;
}

main{
    margin: auto 10vw;
}

/*About Me*/
.box-shadow{
    margin-top: 4rem;
    background-color: #06021b71;
    border-top:solid 6px rgba(255, 255, 255, 0.301);
    border-left:solid 6px #000;
    border-radius: 3%;
    box-shadow: 14px 12px 5px 9px rgba(0,0,0,0.89);
    transition: .2s ease-in-out;
}
.box-shadow:hover{
    border-top:solid 6px #fff;
}
.about{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem; 
}
.subtitle{
    font-size: 3rem;
    text-align: center;
}
.about-title{
    text-align: start;
}
.text-border{
    font-size: 1.4rem;
    padding: 1px;
}
.text-border p{
    padding-left: 20px;
}

/* Studies*/

.studies{
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stud-title{
    text-align: center;
}
.stud-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    justify-items: stretch;
    
}
.stu-cont{
    padding-top: 1rem;
    text-align: center;
    background-color: rgb(39, 50, 110);
    border: solid 4px black ;
    border-radius: 10px;
    
}
.stu-cont p{
    font-size: 1.2rem;
    text-align: center;
}
.stu-cont img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
}

/* Skils*/

.skills{
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center ;
}
.skills-bars{
    width: 100%;
}
.skill-bars-hp{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center ;
}
.skills-bars h3{
    font-size: 2rem;
}
.skills-bar-size{
    width: 100%; 
    padding: 7px;
    background-color: var(--terc-color);
    border-radius: 10px;
    transition: .3s ease-in-out;
}
.skills-bar-size:hover{
    background-color: #000;
}
.skills-bar-size-back{
    padding: 10px;
    background-color:var(--second-color);
    border-radius: 10px;
}
.uno{
    width: 95%;
}
.dos{
    width: 100%;
}
.tres{
    width: 85%;
}
.cuatro{
    width: 90%;
}
.porcent{
    font-size: 1.2rem;
/*   margin-left: 14vw;*/
}

/*Projects*/

.projects{ 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.pro-cont{
    display: grid;
    grid-template-columns: repeat(3, 28vw);
    align-content: flex-start;
    justify-content: space-evenly;
    gap: 2rem;
}
.pro-cont a{
    margin-top: 1rem;
}
.pro-cont-img{
    width: 100%;
}
.pro-cont-img img{
    object-fit: cover;
    height: 300px;
    transition: .7s ease-in-out;
}

.pro-cont-img img:hover{
    object-position: center;
}

/* Contacts*/

.contact{
    margin: 3rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-grid{
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-content: space-between;
    gap: 5rem;
}
.cont-grid-num{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont-grid-num i{
    font-size: 6rem;
    margin-bottom: 1rem;
    padding: 1.7rem;
    background-color:var(--terc-color);
    border-radius: 50%;
    transition: .3s ease-in-out;
}
.cont-grid a {
    text-decoration: none;
    color: #fff;
}
.cont-grid-num i:hover{
    background-color: #000;
}
.cont-grid-num h3{
    font-size: 1.25rem;
}
.cont-grid-num p{
    font-size: 1rem;
    margin: 0;
}

/* Form*/

.seccion__contenido{
    padding-bottom: 100px;
}
.form {
    /* border: 1px solid red; */
    padding: 0 25px;
    
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 2rem;
    
  }
  
  .form-control {
    padding: 15px;
    font-size: 1rem;
    background-color: hsl(231deg 48% 48%);
    border: 1px solid transparent;
    border-radius: 8px;
    color: #fff;
  }
  
  .form-control::placeholder {
    color: #fff;
  }
  
  .form-control:focus-visible {
    outline: 1px solid lightseagreen;
    border-color: #fff;
  }
  
  .btn-form {
    padding: 15px;
    background-color: hsl(230deg 60% 41%);
    border: 1px solid transparent;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  .btn-form:hover {
    background-color: var(--second-color);
  }
  
  .footer__contenedor__texto {
    text-align: center;
    padding: 0 20px;
    font-size: 18px;
  }

/*Footer*/

footer{
    background-color: var(--fort-color);
    text-align: center;
    width: 100%;
    height: 20vh;
    padding-top: 1vh;
}
.foot-tit{
    font-size: 45px;
}

@media (max-width: 1300px) {
.cont-grid{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;

}
.cont-grid-num i{
    font-size: 4rem;
}
/* .cont-grid:last-child{
    grid-row: 3/2 span ;
} */
.hero-subtitle{
    font-size: 60px;
    padding: 40px;
}
.pro-cont{
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
}
@media (max-width:1000px) {
    .hero-subtitle{
        font-size: 40px;
        padding: 25px;
    }
    .hero-title{
        font-size: 40px;
    }
    .skills-bars h3{
        font-size: 1.3rem;
    }
    .porcent{
        font-size: 1rem;
    }
    
}
@media (max-width:750px){
    .cont-grid{
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr 1fr;
    }
    .pro-cont{
        grid-template-rows: 1fr 1fr 1fr; 
        grid-template-columns: none;
    }
    .hero-navbar nav a{
        font-size: 1.2rem;
    }
    .subtitle{
        font-size: 2.1rem;
    }
    .hero-title{
        font-size: 2.2rem;
    }
    .hero-subtitle{
        font-size: 2.2rem;
        padding-left:15px ;
    }
    .foot-tit{font-size:3rem;
    }
    .hero-social i{
        font-size: 2.1rem;
    }
    .text-border{
        font-size: 1.1rem;
    }
}
@media (max-width:550px){
    .hero-title{
        font-size: 1.8rem;
    }
    .hero-subtitle{
        font-size: 1.8rem;
        padding-left:10px ;
    }
    .stud-container{
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
    .cont-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
    
    }
    .cont-grid-num i{
        font-size: 2rem;
    }
    .cont-grid-num h3{
        font-size: 1rem;
    }
    .cont-grid-num p{
        font-size: .8rem;
    }
}